<a href="https://colab.research.google.com/github/bitprj/Bitcamp-DataSci/blob/master/Week1-Introduction-to-Python-_-NumPy/Intro_to_Python_plus_NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/bitprj/Bitcamp-DataSci/blob/master/Week1-Introduction-to-Python-_-NumPy/assets/icons/bitproject.png?raw=1" width="200" align="left"> 
<img src="https://github.com/bitprj/Bitcamp-DataSci/blob/master/Week1-Introduction-to-Python-_-NumPy/assets/icons/data-science.jpg?raw=1" width="300" align="right">

# Introduction to Python

### Table of Contents

- Why, Where, and How we use Python
- What we will be learning today
  - Goals
- Numbers
  - Types of Numbers
  - Basic Arithmetic
  - Arithmetic Continued
- Variable Assignment
- Strings
  - Creating Strings
  - Printing Strings
  - String Basics
  - String Properties
  - Basic Built-In String Methods
  - Print Formatting
  - **1.0 Now Try This**
- Booleans
- Lists
  - Creating Lists
  - Basic List Methods
  - Nesting Lists
  - List Comprehensions
  - **2.0 Now Try This**
- Tuples
  - Constructing Tuples
  - Basic Tuple Methods
  - Immutability
  - When To Use Tuples
  - **3.0 Now Try This**
- Dictionaries
  - Constructing a Dictionary
  - Nesting With Dictionaries
  - Dictionary Methods
  - **4.0 Now Try This**
- Comparison Operators
- Functions
  - Intro to Functions
  - `def` Statements
  - Examples
  - Using `return`
  - **5.0 Now Try This**
- Modules and Packages
  - Overview
- NumPy
  - Creating Arrays
  - Indexing
  - Slicing
  - **6.0 Now Try This**
  - Data Types
  - **7.0 Now Try This**
  - Copy vs. View
  - **8.0 Now Try This**
  - Shape
  - **9.0 Now Try This**
  - Iterating Through Arrays
  - Joining Arrays
  - Splitting Arrays
  - Searching Arrays
  - Sorting Arrays
  - Filtering Arrays
  - **10.0 Now Try This**
- Resources

## Why, Where, and How we use Python

Python is a very popular scripting language that you can use to create applications and programs of all sizes and complexity. It is very easy to learn and has very little syntax, making it very efficient to code with. Python is also the language of choice for many when performing comprehensive data analysis.

## What we will be learning today

### Goals
- Understanding key Python data types, operators and data structures
- Understanding functions
- Understanding modules
- Understanding errors and exceptions

First data type we'll cover in detail is Numbers!

## Numbers

### Types of numbers

Python has various "types" of numbers. We'll strictly cover integers and floating point numbers for now.

Integers are just whole numbers, positive or negative. (2,4,-21,etc.)

Floating point numbers in Python have a decimal point in them, or use an exponential (e). For example 3.14 and 2.17 are *floats*. 5E7 (5 times 10 to the power of 7) is also a float. This is scientific notation and something you've probably seen in math classes.

Let's start working through numbers and arithmetic:

### Basic Arithmetic

In [1]:
# Addition
4+5

9

In [2]:
# Subtraction
5-10

-5

In [3]:
# Multiplication
4*8

32

In [4]:
# Division
25/5

5.0

In [5]:
# Floor Division
12//4

3

What happened here?

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) removes any decimals and doesn't round. This always produces an integer answer.

**So what if we just want the remainder of division?**

In [6]:
# Modulo
9 % 4

1

4 goes into 9 twice, with a remainder of 1. The % operator returns the remainder after division.

### Arithmetic continued

In [7]:
# Powers
4**2

16

In [8]:
# A way to do roots
144**0.5

12.0

In [9]:
# Order of Operations
4 + 20 * 52 + 5

1049

In [10]:
# Can use parentheses to specify orders
(21+5) * (4+89)

2418

## Variable Assignments

We can do a lot more with Python than just using it as a calculator. We can store any numbers we create in **variables**.

We use a single equals sign to assign labels or values to variables. Let's see a few examples of how we can do this.

In [11]:
# Let's create a variable called "a" and assign to it the number 10
a = 10

a

10

Now if I call *a* in my Python script, Python will treat it as the integer 10.

In [12]:
# Adding the objects
a+a

20

What happens on reassignment? Will Python let us write it over?

In [13]:
# Reassignment
a = 20

# Check
a

20

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [14]:
# Use A to redefine A
a = a+a

# check
a

40

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. Using lowercase names are best practice.
    5. Can't words that have special meaning in Python like "list" and "str", we'll see why later


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [15]:
# Use object names to keep better track of what's going on in your code!
income = 1000

tax_rate = 0.2

taxes = income*tax_rate

In [16]:
# Show the result!
taxes

200.0

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!

## Strings

Strings are used in Python to record text information, such as names. Strings in Python are not treated like their own objects, but rather like a *sequence*, a consecutive series of characters. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

### Creating Strings
To create a string in Python you need to use either single quotes or double quotes. For example:

In [17]:
# A word
'hi'

'hi'

In [18]:
# A phrase
'A string can even be a sentence like this.'

'A string can even be a sentence like this.'

In [19]:
# Using double quotes
"The quote type doesn't really matter."

"The quote type doesn't really matter."

In [20]:
# Be wary of contractions and apostrophes!
'I'm using single quotes, but this will create an error!'

SyntaxError: invalid syntax (<ipython-input-20-3a3659e61841>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"This shouldn't cause an error now."

Now let's learn about printing strings!

### Printing Strings

Jupyter Notebooks have many neat behaviors that aren't available in base python. One of those is the ability to print strings by just typing it into a cell. The universal way to display strings however, is to use a **print()** function.

In [ ]:
# In Jupyter, this is all we need
'Hello World'

In [ ]:
# This is the same as:
print('Hello World')

In [21]:
# Without the print function, we can't print multiple times in one block of code:
'Hello World'
'Second string'

'Second string'

A print statement can look like the following.

In [22]:
print('Hello World')
print('Second string')
print('\n prints a new line')
print('\n')
print('Just to prove it to you.')

Hello World
Second string

 prints a new line


Just to prove it to you.

Now let's move on to understanding how we can manipulate strings in our programs.

### String Basics

Oftentimes, we would like to know how many characters are in a string. We can do this very easily with the **len()** function (short for 'length').

In [23]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

Naturally, we can assign strings to variables.

In [24]:
# Assign 'Hello World' to mystring variable
mystring = 'Hello World'

In [25]:
# Did it work?
mystring

'Hello World'

In [26]:
# Print it to make sure
print(mystring)

Hello World

As stated before, Python treats strings as a sequence of characters. That means we can interact with each letter in a string and manipulate it. The way we access these letters is called **indexing**. Each letter has an index, which corresponds to their position in the string. In python, indices start at 0. For instance, in the string 'Hello World', 'H' has an index of 0, 'e' has an index of 1, the 'W' has an index of 6 (because spaces count as characters), and 'd' has an index of 10. The syntax for indexing is shown below.

In [27]:
# Extract first character in a string.
mystring[0]

'H'

In [28]:
mystring[1]

'e'

In [29]:
mystring[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated index. For example:

In [30]:
# Grab all letters past the first letter all the way to the end of the string
mystring[:]

'Hello World'

In [31]:
# This does not change the original string in any way
mystring

'Hello World'

In [32]:
# Grab everything UP TO the 5th index
mystring[:5]

'Hello'

Note what happened above. We told Python to grab everything from 0 up to 5. It doesn't include the character in the 5th index. You'll notice this a lot in Python, where statements are usually in the context of "up to, but not including".

In [33]:
# The whole string
mystring[:]

'Hello World'

In [34]:
# The 'default' values, if you leave the sides of the colon blank, are 0 and the length of the string
end = len(mystring)

# See that is matches above
mystring[0:end]

'Hello World'

But we don't have to go forwards. Negative indexing allows us to start from the *end* of the string and work backwards.

In [35]:
# The LAST letter (one index 'behind' 0, so it loops back around)
mystring[-1]

'd'

In [36]:
# Grab everything but the last letter
mystring[:-1]

'Hello Worl'

We can also use indexing and slicing to grab characters by a specified step size (1 is the default). See the following examples.

In [37]:
# Grab everything (default), go in steps size of 1
mystring[::1]

'Hello World'

In [38]:
# Grab everything, but go in step sizes of 2 (every other letter)
mystring[0::2]

'HloWrd'

In [39]:
# A handy way to reverse a string!
mystring[::-1]

'dlroW olleH'

Strings have certain properties to them that affect the way we can, and cannot, interact with them.

### String Properties
It's important to note that strings are *immutable*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [40]:
mystring

'Hello World'

In [41]:
# Let's try to change the first letter
mystring[0] = 'a'

TypeError: 'str' object does not support item assignment

The error tells it us to straight. Strings do not support assignment the same way other data types do.

However, we *can* **concatenate** strings.

In [ ]:
mystring

In [ ]:
# Combine strings through concatenation
mystring + ". It's me."

In [ ]:
# We can reassign mystring to a new value, however
mystring = mystring + ". It's me."

In [ ]:
mystring

One neat trick we can do with strings is use multiplication whenever we want to repeat characters a certain number of times.

In [ ]:
letter = 'a'

In [ ]:
letter*20

We already saw how to use len(). This is an example of a built-in string method, but there are quite a few more which we will cover next.

### Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. We will be going into more depth with these later.

Here are some examples of built-in methods in strings:

In [ ]:
mystring

In [ ]:
# Make all letters in a string uppercase
mystring.upper()

In [ ]:
# Make all letters in a string lowercase
mystring.lower()

In [ ]:
# Split strings with a specified character as the separator. Spaces are the default.
mystring.split()

In [ ]:
# Split by a specific character (doesn't include the character in the resulting string)
mystring.split('W')

### 1.0 Now Try This

Given the string 'Amsterdam' give an index command that returns 'd'. Enter your code in the cell below:

In [ ]:
s = 'Amsterdam'
# Print out 'd' using indexing
answer1 = # INSERT CODE HERE
print(answer1)

Reverse the string 'Amsterdam' using slicing:

In [ ]:
s ='Amsterdam'
# Reverse the string using slicing
answer2 = # INSERT CODE HERE
print(answer2)

Given the string Amsterdam, extract the letter 'm' using negative indexing.

In [ ]:
s ='Amsterdam'

# Print out the 'm'
answer3 = # INSERT CODE HERE
print(answer3)

## Booleans

Python comes with *booleans* (values that are essentially binary: True or False, 1 or 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans.

In [ ]:
# Set object to be a boolean
a = True

In [ ]:
#Show
a

We can also use comparison operators to create booleans. We'll cover comparison operators a little later.

In [ ]:
# Output is boolean
1 > 2

We can use None as a placeholder for an object that we don't want to reassign yet:

In [ ]:
# None placeholder
b = None

In [ ]:
# Show
print(b)

That's all to booleans! Next we start covering data structures. First up, lists.

## Lists

Earlier when discussing strings we introduced the concept of a *sequence*. Lists is the most generalized version of sequences in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's start with seeing how we can build a list.

### Creating Lists

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold elements of multiple data types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

We can also use + to concatenate lists, just like we did for strings.

In [ ]:
my_list + ['new item']

Note: This doesn't actually change the original list!

In [ ]:
my_list

You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
my_list

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

In [ ]:
# Again doubling not permanent
my_list

Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
list1.append('append me!')

In [ ]:
# Show
list1

### List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [ ]:
first_col

We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

### 2.0 Now Try This

Build this list [0,0,0] using any of the shown ways.

In [ ]:
# Build the list
answer1 = #INSERT CODE HERE
print(answer1)

## Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

### Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
t

In [ ]:
# Use indexing just like we did in lists
t[0]

In [ ]:
# Slicing just like a list
t[-1]

### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [42]:
# Use .index to enter a value and return the index
t.index('one')

NameError: name 't' is not defined

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

### Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [ ]:
t[0]= 'change'

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [ ]:
t.append('nope')

### When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

### 3.0 Now Try This

Create a tuple.

In [ ]:
answer1 = #INSERT CODE HERE
print(type(answer1))

## Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of dictionaries as hash tables. 

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order as is no *order* to keys..

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

### Constructing a Dictionary
Let's see how we can build dictionaries and better understand how they work.

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

We can affect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

### Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Seems complicated, but let's see how we can grab that value:

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

### Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

In [ ]:
# Method to grab all values
d.values()

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

### 4.0 Now Try This

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}

# Grab 'hello'
answer1 = #INSERT CODE HERE
print(answer1)

In [ ]:
d = {'k1':{'k2':'hello'}}

# Grab 'hello'
answer2 = #INSERT CODE HERE
print(answer2)

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
answer3 = #INSERT CODE HERE
print(answer3)

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

# Grab hello
answer4 = #INSERT CODE HERE
print(answer4)

## Comparison Operators 

As stated previously, comparison operators allow us to compare variables and output a Boolean value (True or False). 

These operators are the exact same as what you've seen in Math, so there's nothing new here.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=9 and b=11.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If the values of two operands are not equal, then the condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of the left operand is greater than the value of the right operand, then the condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of the left operand is less than the value of the right operand, then the condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of the left operand is greater than or equal to the value of the right operand, then the condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of the left operand is less than or equal to the value of the right operand, then the condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
4 == 4

In [ ]:
1 == 0

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
4 != 5

In [ ]:
1 != 1

#### Greater Than

In [ ]:
8 > 3

In [ ]:
1 > 9

#### Less Than

In [43]:
3 < 8

True

In [44]:
7 < 0

False

#### Greater Than or Equal to

In [45]:
7 >= 7

True

In [46]:
9 >= 4

True

#### Less than or Equal to

In [47]:
4 <= 4

True

In [48]:
1 <= 3

True

Hopefully this was more of a review than anything new! Next, we move on to one of the most important aspects of building programs: functions and how to use them.

## Functions

### Introduction to Functions

Here, we will explain what a function is in Python and how to create one. Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

### def Statements

Let's see how to build out a function's syntax in Python. It has the following form:

In [49]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

We begin with <code>def</code> then a space followed by the name of the function. Try to keep names relevant, for example len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next come a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

Now here is the important step, you must indent to begin the code inside your function correctly. Python makes use of *whitespace* to organize code. Lots of other programing languages do not do this, so keep that in mind.

Next you'll see the docstring, this is where you write a basic description of the function. Docstrings are not necessary for simple functions, but it's good practice to put them in so you or other people can easily understand the code you write.

After all this you begin writing the code you wish to execute.

The best way to learn functions is by going through examples. So let's try to go through examples that relate back to the various objects and data structures we learned about before.

### A simple print 'hello' function

In [50]:
def say_hello():
    print('hello')

Call the function:

In [51]:
say_hello()

hello

### A simple greeting function
Let's write a function that greets people with their name.

In [52]:
def greeting(name):
    print('Hello %s' %(name))

In [53]:
greeting('Bob')

Hello Bob

### Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [54]:
def add_num(num1,num2):
    return num1+num2

In [55]:
add_num(4,5)

9

In [56]:
# Can also save as variable due to return
result = add_num(4,5)

In [57]:
print(result)

9

What happens if we input two strings?

In [58]:
add_num('one','two')

'onetwo'

Note that because we don't declare variable types in Python, this function could be used to add numbers or sequences together! We'll later learn about adding in checks to make sure a user puts in the correct arguments into a function.

Let's also start using <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our code. We introduced these during the <code>while</code> lecture.

Finally let's go over a full example of creating a function to check if a number is prime (a common interview exercise).

We know a number is prime if that number is only evenly divisible by 1 and itself. Let's write our first version of the function to check all the numbers from 1 to N and perform modulo checks.

In [59]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num): #'range()' is a function that returns an array based on the range you provide. Here, it is from 2 to 'num' inclusive.
        if num % n == 0:
            print(num,'is not prime')
            break # 'break' statements signify that we exit the loop if the above condition holds true
    else: # If never mod zero, then prime
        print(num,'is prime!')

In [60]:
is_prime(16)

16 is not prime

In [61]:
is_prime(17)

17 is prime!

Note how the <code>else</code> lines up under <code>for</code> and not <code>if</code>. This is because we want the <code>for</code> loop to exhaust all possibilities in the range before printing our number is prime.

Also note how we break the code after the first print statement. As soon as we determine that a number is not prime we break out of the <code>for</code> loop.

We can actually improve this function by only checking to the square root of the target number, and by disregarding all even numbers after checking for 2. We'll also switch to returning a boolean value to get an example of using return statements:

In [62]:
import math

def is_prime2(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [63]:
is_prime2(27)

False

Why don't we have any <code>break</code> statements? It should be noted that as soon as a function *returns* something, it shuts down. A function can deliver multiple print statements, but it will only obey one <code>return</code>.

### 5.0 Now Try This

Write a function that capitalizes the first and fourth letters of a name. For this, you might want to make use of a string's `.upper()` method.
     
    cap_four('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [64]:
def cap_four(name):
   
    return new_name

# Check
answer1 = cap_four('macdonald')
print(answer1)

NameError: name 'new_name' is not defined

## Modules and Packages

### Understanding modules

Modules in Python are simply Python files with the .py extension, which implement a set of functions. Modules are imported from other modules using the import command.

To import a module, we use the import command. Check out the full list of built-in modules in the Python standard library here.

The first time a module is loaded into a running Python script, it is initialized by executing the code in the module once. If another module in your code imports the same module again, it will not be loaded twice.

If we want to import the math module, we simply import the name of the module:

In [ ]:
# import the library
import math

# use it (ceiling rounding)
math.ceil(3.2)

## Why, Where, and How we use NumPy

NumPy is a library for Python that allows you to create matrices and multidimensional arrays, as well as perform many sophisticated mathematical operations on them. Previously, dealing with anything more than a single-dimensional array was very difficult in base Python. Additionally, there weren't a lot of built-in functionality to perform many standard mathematical operations that data scientists typically do with data, such as transposing, dot products, cumulative sums, etc. All of this makes NumPy very useful in statistical analyses and analyzing datasets to produce insights.

### Creating Arrays 

NumPy allows you to work with arrays very efficiently. The array object in NumPy is called *ndarray*. This is short for 'n-dimensional array'.

We can create a NumPy ndarray object by using the array() function.

In [ ]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9,10])

print(arr)

print(type(arr))

### Indexing

Indexing is the same thing as accessing an element of a list or string. In this case, we will be accessing an array element.

You can access an array element by referring to its **index number**. The indexes in NumPy arrays start with 0, also like in base Python.

The following example shows how you can access multiple elements of an array and perform operations on them.

In [ ]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9,10])

print(arr[4] + arr[8])

### Slicing

Slicing in NumPy behaves much like in base Python, a quick recap from above:

We slice using this syntax: [start:end].

We can also define the step, like this: [start:end:step].

In [ ]:
# Reverse an array through backwards/negative stepping
import numpy as np
arr = np.array([3,7,9,0])

print(arr[::-1])

In [ ]:
# Slice elements from the beginning to index 8

import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7,8,9,10])

print(arr[:8])

You'll notice we only got to index 7. That's because the end is always *non-inclusive*. We slice up to but not including the end value. The start index on the other hand, **is** inclusive.

### 6.0 Now Try This:

Create an array of at least size 10 and populate it with random numbers. Then, use slicing to split it into two and create two new arrays. Then, find the sum of the third digits in each array.

In [ ]:
# Answer here

### Data Types

Just like base Python, NumPy has many data types available. They are all differentiated by a single character, and here are the most common few:

* i - int / integer (whole numbers)
* b - boolean (true/false)
* f - float (decimal numbers)
* S - string
* There are many more too!

In [ ]:
# Checking the data type of an array
import numpy as np

arr = np.array([5, 7, 3, 1])

print(arr.dtype)

In [ ]:
# How to convert between types
import numpy as np

arr = np.array([4.4, 24.1, 3.7])
print(arr)
print(arr.dtype)

# Converts decimal numbers by rounding them all down to whole numbers
newarr = arr.astype('i')

print(newarr)
print(newarr.dtype)

### 7.0 Now Try This:

Modify the code below to fix the error and make the addition work:

In [ ]:
import numpy as np

arr = np.array([1,3,5,7],dtype='S')
arr2 = np.array([2,4,6,8],dtype='i')

print(arr + arr2)

### Copy vs. View

In NumPy, you can work with either a copy of the data or the data itself, and it's very important that you know the difference. Namely, modifying a copy of the data will not change the original dataset but modifying the view **will**. Here are some examples:

In [ ]:
# A Copy
import numpy as np

arr = np.array([6, 2, 1, 5, 3])
x = arr.copy()
arr[0] = 8

print(arr)
print(x)

In [ ]:
# A View
import numpy as np

arr = np.array([6, 2, 1, 5, 3])
x = arr.view()
arr[0] = 8

print(arr)
print(x)

### 8.0 Now Try This:

A student wants to create a copy of an array and modify the first element. The following is the code they wrote for it:

arr = np.array([1,2,3,4,5])

x = arr

x[0] = 0


Is this correct?

### Shape

All NumPy arrays have an attribute called *shape*. This is helpful for 2d or n-dimensional arrays, but for simple lists, it is just the number of elements that it has.

In [ ]:
# Print the shape of an array
import numpy as np

arr = np.array([2,7,3,7])

print(arr.shape)

### 9.0 Now Try This:

Without using Python, what is the shape of this array? Answer in the same format as the `shape` method.

arr = np.array([[0,1,2].[3,4,5])

### Iterating Through Arrays

Iterating simply means to traverse or travel through an object. In the case of arrays, we can iterate through them by using simple for loops.

In [ ]:
import numpy as np

arr = np.array([1, 5, 7])

for x in arr:
  print(x)

### Joining Arrays 

Joining combining the elements of multiple arrays into one.

The basic way to do it is like this:

In [ ]:
import numpy as np

arr1 = np.array([7, 1, 0])

arr2 = np.array([2, 8, 1])

arr = np.concatenate((arr1, arr2))

print(arr)

### Splitting Arrays

Splitting is the opposite of joining arrays. It takes one array and creates multiple from it.

In [ ]:
# Split array into 4
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6,7,8])

newarr = np.array_split(arr, 4)

print(newarr)

### Searching Arrays 

Searching an array to find a certain element is a very important and basic operation. We can do this using the *where()* method.

In [ ]:
import numpy as np

arr = np.array([1, 2, 5, 9, 5, 3, 4])

x = np.where(arr == 4) # Returns the index of the array element(s) that matches this condition 

print(x)

In [ ]:
# Find all the odd numbers in an array
import numpy as np

arr = np.array([10, 20, 30, 40, 50, 60, 70, 80,99])

x = np.where(arr%2 == 1)

print(x)

### Sorting Arrays

Sorting an array is another very important and commonly used operation. NumPy has a function called sort() for this task.

In [ ]:
import numpy as np

arr = np.array([4, 1, 0, 3])

print(np.sort(arr))

In [ ]:
# Sorting a string array alphabetically
import numpy as np

arr = np.array(['zephyr', 'gate', 'match'])

print(np.sort(arr))

### Filtering Arrays

Sometimes you would want to create a new array from an existing array where you select elements out based on a certain condition. Let's say you have an array with all integers from 1 to 10. You would like to create a new array with only the odd numbers from that list. You can do this very efficiently with **filtering**. When you filter something, you only take out what you want, and the same principle applies to objects in NumPy. NumPy uses what's called a **boolean index list** to filter. This is an array of True and False values that correspond directly to the target array and what values you would like to filter. For example, using the example above, the target array would look like this:

[1,2,3,4,5,6,7,8,9,10]

And if you wanted to filter out the odd values, you would use this particular boolean index list:

[True,False,True,False,True,False,True,False,True,False]

Applying this list onto the target array will get you what you want:

[1,3,5,7,9]

A working code example is shown below:

In [ ]:
import numpy as np

arr = np.array([51, 52, 53, 54])

x = [False, False, True, True]

newarr = arr[x]

print(newarr)

We don't need to hard-code the True and False values. Like stated previously, we can filter based on conditions.

In [ ]:
arr = np.array([51, 52, 53, 54])

# Create an empty list
filter_arr = []

# go through each element in arr
for element in arr:
  # if the element is higher than 52, set the value to True, otherwise False:
  if element > 52:
    filter_arr.append(True)
  else:
    filter_arr.append(False)

newarr = arr[filter_arr]

print(filter_arr)
print(newarr)

Filtering is a very common task when working with data and as such, NumPy has an even more efficient way to perform it. It is possible to create a boolean index list directly from the target array and then apply it to obtain the filtered array. See the example below:

In [65]:
import numpy as np

arr = np.array([10,20,30,40,50,60,70,80,90,100])

filter = arr > 50

filter_arr = arr[filter]

print(filter)
print(filter_arr)

[False False False False False  True  True  True  True  True]
[ 60  70  80  90 100]

### 10.0 Now Try This:

Create an array with the first 10 numbers of the Fibonacci sequence. Split this array into two. On each half, search for any multiples of 4. Next, filter both arrays for multiples of 5. Finally, take the two filtered arrays, join them, and sort them.

In [66]:
# Answer here

## Resources

- [Python Documentation](https://docs.python.org/3/)
- [Official Python Tutorial](https://docs.python.org/3/tutorial/)
- [W3Schools Python Tutorial](https://www.w3schools.com/python/)