<a href="https://colab.research.google.com/github/bitprj/Bitcamp-DataSci/blob/master/Week1-Introduction-to-Python-_-NumPy/Lab/Week_1_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <div align = "center">Lab 1</div>

# <div align = "center">Python</div>

Welcome to Lab 1. In this lab you will be using techniques you learned throughout Week 1. The purpose of this lab is to ensure you've mastered the basics of Python. Feel free to refer to the cheatsheet and lecture content while working through these problems.

## Python Questions

### Q1:
Create a function that, when passed two integers, calculates their product. If the product is less than 5000, return the product else return the sum.

In [ ]:
# INSERT FUNCTION HERE

number1 = 30
number2 = 400
number3 = 40

answer1 = # INSERT RESULT OF PASSING IN NUMBERS 1 & 2
print("The result is ", answer1)

answer2 = # INSERT RESULT OF PASSING IN NUMBERS 1 & 3
print("The result is ", answer2)

### Q2: 
Create a function `sumNum()` that will loop through the numbers 0-19 and print the sum of the current number and the previous number.

In [ ]:
def sumNum():
  # INSERT CODE HERE

### Q3: 
Given a string, display only the characters in odd indices.

In [ ]:
def printOddIndices(str):
  # INSERT CODE HERE

inputStr = "python wizard" 

print("Printing only odd index chars")
printOddIndices(inputStr)

### Q4: 
Given a list, slice it into a 3 equal chunks and reverse each list. Display both the original chunks as well as the reversed chunks.

In [ ]:
vec = [91, 52, 84, 5, 92, 85, 27, 48, 30]

# INSERT CODE HERE

### Q5: 
Given a list, iterate it, count the occurrence of each element and then create a dictionary to display the count of each element.

EXPECTED OUTPUT:

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]

Count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
vec = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", vec)

answer1 = dict()

# INSERT CODE HERE


  
print("Count of each item  ",answer1)

## Import NumPy

In [ ]:
import numpy as np

### Q6: Generate a 4x4 NumPy matrix with values ranging from 5 to 20.

In [ ]:
# INSERT CODE HERE

### Q7: Create a 2x3 matrix with values from 1-6. Obtain all rows from the second and third columns.

In [ ]:
# INSERT CODE HERE

### Q8: Create an array with numbers 1-10 and then zero out all multiples of 3.

In [ ]:
# INSERT CODE HERE