<a href="https://colab.research.google.com/github/bitprj/DigitalHistory/blob/master/Week4-Introduction-to-data-visualization-and-graphs-with-matplotlib/Week4-homework/Week4-Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <div align="center">Homework 4</div>

# <div align="center">Malnutrition, A disease the world has forgotten</div>

In [ ]:
# Run the Following Code
!pip install descartes
!pip install geopandas

Welcome to Homework 4. In this homework, you will be using the techniques you learned throughout Week 4. The purpose of this homework for you to be able to practice visualization and the articulation of your observations. You will be asked to find answers to questions using ```matplotlib``` and ```pandas```. Because these topics are very new to you and can be challenging to absorb, we will be giving you hints and references to relevant sections in the week 4 lessons for some coding questions.

By the end of the exercise, the deliverables are:

|    Questions                                      | # of assignments|
|---------------------------------------------------|-----------------|
|Dataframe cleaning using pandas                    |1                |
|Pandas Questions                                   |4                |
|Histogram plots                                    |1                |
|Scatter plots                                      |4                |
|Bar plots                                          |4                |
|Plot of the world map with the required features.  |3                |
|A comparison between two countries of your choice |3                |

## About the Dataset

### Malnutrition EDA
Malnutrition is a condition that results from eating a diet in which one or more nutrients are either not enough or are too much such that the diet causes health problems.

Wasting: Also known as 'acute malnutrition', wasting is characterized by a rapid deterioration in nutritional status over a short period of time in children under five years of age. Wasted children are at higher risk of dying.

Stunting is the impaired growth and development that children experience from poor nutrition, repeated infection, and inadequate psychosocial stimulation. Children are defined as stunted if their height-for-age is more than two standard deviations below the WHO Child Growth Standards median.

**The data available**

```Severe Wasting``` - % of children aged 0–59 months who are below minus three standard deviations from median weight-for-height.

```Wasting``` – Moderate and severe: % of children aged 0–59 months who are below minus two standard deviations from median weight-for-height

```Overweight``` – Moderate and severe: % aged 0-59 months who are above two standard deviations from median weight-for-height

```Stunting``` – Moderate and severe:
% of children aged 0–59 months who are below minus two standard deviations from median height-for-age

```Underweight``` – Moderate and severe: % of children aged 0–59 months who are below minus two standard deviations from median weight-for-age

```Income Classification``` - When it comes to income, the World Bank divides the world's economies into four income groups: 
- High
- Upper-middle 
- Lower-middle
- Low

The income classification is based on a measure of national income per person, or GNI per capita, calculated using the Atlas method.

## Grading 

Every question in this homework is worth a point. There are a total of 20 questions.
If a question has 2 parts, each part is worth half a point.

## Import libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load the Dataset

In [ ]:
df = pd.read_csv('malnutrition/malnutrition.csv')
df

In [ ]:
df = df.drop(columns = 'Unnamed: 0',axis = 1)
df

## Use pandas to display the basic information of the dataset

In [ ]:
# head()
#INSERT CODE HERE

In [ ]:
# tail()
#INSERT CODE HERE

In [ ]:
# describe()
#INSERT CODE HERE

In [ ]:
# info()
#INSERT CODE HERE

### Q1. Check the total number of null values for each column and drop them [Graded]

In [ ]:
df.____().sum() #INSERT CODE HERE

In [ ]:
df = df.____() #INSERT CODE HERE
df

## Pandas Questions

### Q2. Which country shows highest Underweight percentage? [Graded]

### Q3. Which country shows highest Overweight percentage? [Graded]

### Q4. Top 5 Countries that are the most malnourished? [Graded]

### Q5. Top 5 Countries that are the most malnourished? [Graded]

## Histograms

### Q6. Unique Income Classification Histogram [Graded]

In [ ]:
# Check the number of Unique values int the 'Income Classification' column
df['INSERT COLUMN NAME'].______ #INSERT CODE HERE

In [ ]:
# Display the histogram for the Income Classification column, set bins to 20
df["INSERT COLUMN NAME"].______ #INSERT CODE HERE

### Scatter Plots for Income Classification 

In this part, you will be drawing four scatterplots as subplots of a larger plot. The plot will have a figure size of (20,10).

Throughout this exercise keep ```x``` as ```Income Classification```.

In [ ]:
fig = plt.figure(figsize = (30,15))

ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
ax4 = fig.add_subplot(2,2,4)

### Q7. Wasting [Graded]

In [ ]:
df.plot(# INSERT CODE HERE
        # INSERT CODE HERE 
        # INSERT CODE HERE
        ax = # INSERT CODE HERE 
        _____='k') #INSERT CODE HERE

### Q8. Overweight [Graded]

In [ ]:
df.plot(# INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE,
         # INSERT CODE HERE
       )

### Q9. Stunting [Graded]

In [ ]:
df.plot(# INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE)

### Q10. U5 Population (\'000s) [Graded]

In [ ]:
df.plot(# INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE)

In [ ]:
fig

## Bar Graphs

### Q11. Plot a bar graph for the countries that have a waste percentage greater or equal to 15 [GRADED]

In [ ]:
filt = ___________ >= ____ # INSERT CODE HERE

# find rows which match filt
max_waste = df._____(filt) # INSERT CODE HERE
# drop the null values 
max_waste = max_waste.# INSERT CODE HERE


max_waste.plot(kind = 'bar',
               # INSERT CODE HERE
               # INSERT CODE HERE
               # INSERT CODE HERE
               figsize=(20,10))

### Q12. Plot a bar graph for the countries that have a waste percentage less than or equal to 2 [GRADED]

In [ ]:
# INSERT CODE HERE

# INSERT CODE HERE
# INSERT CODE HERE
# INSERT CODE HERE
        figsize=(20,10))

### Q13. Plot a bar graph showing all the countries with an income classification of 3.0

In [ ]:
filt = _________ == ____ # INSERT CODE HERE

# INSERT CODE HERE
# INSERT CODE HERE
HIGH_Income.plot(kind = 'bar',x = 'Country',
                 # INSERT CODE HERE,
                 figsize=(20,10))

### Q14. Plot a bar graph showing all the countries with an Income Classification of 0 [GRADED]

In [ ]:
# INSERT CODE HERE

# INSERT CODE HERE
# INSERT CODE HERE
# INSERT CODE HERE

## Plot the World Map

As a bonus I've added a feature that prints out the world map to make our visualizations more observable.

In [ ]:
# Donot Modify
import descartes
import geopandas as gpd
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

### 15. Plot the Longitude vs Latitude [GRADED]

Set ```alpha``` to 0.6

In [ ]:
# Donot Modify the two lines below
fig,ax = plt.subplots(figsize=(30,15))
world.plot(ax=ax, color='lightgray')

df.plot(kind="scatter",
        # INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HEREA
        ax = ax)

plt.show()

### 16. Adding a color map for Income Classification [GRADED]

Property: ```c : color, sequence, or sequence of color```

Equate it to Income Classification.

Also, add the following:
- ```cmap: Colormap```
- ```colorbar```
- ```xlabel```
- ```ylabel```
- ```legend```

**Note**: Features in the plot above must be present.

In [ ]:
# Donot Modify the two lines below
fig, ax = plt.subplots(figsize=(20,10))
world.plot(ax=ax, color='lightgray')

df.plot(kind="scatter",
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE 
             # INSERT CODE HERE
             # INSERT CODE HERE
             ax = ax)

# INSERT CODE HERE
# INSERT CODE HERE
# INSERT CODE HERE
plt.show()

### 17. Adding a scalar pointer, U5-population
Property: ```s : scalar or array_like, shape (n, )```


Also, add the following:
- Replace c with Stunting
- Add a label for the feature

**Note:** In order to get a viewable graph, you will have to divide the feature by a multiple of 10. Be careful, too high and your scalar points won't be distinguishable.

In [ ]:
# Donot Modify the two lines below
fig, ax = plt.subplots(figsize=(30,15))
world.plot(ax=ax, color='lightgray')

df.plot(# INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
            ax = ax)




# INSERT CODE HERE
# INSERT CODE HERE
# INSERT CODE HERE

plt.show()

## Compare two countries of your choice

In [ ]:
fig = plt.figure(figsize=(20,10))

ax1 = fig.add_subplot(1,2,1)
ax2 = fig.add_subplot(1,2,2)

# We won't need the these columns
columns_to_remove =  ['U5 Population (\'000s)','Longitude','Latitude']

### 18. New DataFrame for Country 1 [GRADED]

In [ ]:
filt = _________ == 'COUNTRY NAME'

# Make a new DataFrame using the filter
______ = df.____(____)

# Drop the columns in columns_to_remove
______ = # INSERT CODE HERE

# Drop all null values
______ = # INSERT CODE HERE

# view your newdataframe below

____

### 19. New DataFrame for Country 2 [GRADED]

In [ ]:
# Make a filter
# INSERT CODE HERE

# Make a new DataFrame using the filter
# INSERT CODE HERE

# Drop the columns in columns_to_remove
# INSERT CODE HERE

# Drop all null values
# INSERT CODE HERE

# view your newdataframe below

# INSERT CODE HERE

### 20. Plots bar charts for allfeatures of  both DataFrames [GRADED]

In [ ]:
# Country 1
_____.plot(# INSERT CODE HERE
            # INSERT CODE HERE
            ax = ax1)
# Country 2
#INSERT CODE HERE
        # INSERT CODE HERE
        # INSERT CODE HERE
        )

In [ ]:
fig

## Appendix

### How to Add latitude and Longitude

In [ ]:
from geopy.exc import GeocoderTimedOut 
from geopy.geocoders import Nominatim 
   
# declare an empty list to store 
# latitude and longitude of values  
# of city column 
longitude = [] 
latitude = [] 
   
# function to find the coordinate 
# of a given city  
def findGeocode(city): 
       
    # try and catch is used to overcome 
    # the exception thrown by geolocator 
    # using geocodertimedout   
    try: 
          
        # Specify the user_agent as your 
        # app name it should not be none 
        geolocator = Nominatim(user_agent="your_app_name") 
          
        return geolocator.geocode(city) 
      
    except GeocoderTimedOut: 
          
        return findGeocode(city)     
  
# each value from city column 
# will be fetched and sent to 
# function find_geocode    
for i in (df["Country"]): 
      
    if findGeocode(i) != None: 
           
        loc = findGeocode(i) 
          
        # coordinates returned from  
        # function is stored into 
        # two separate list 
        latitude.append(loc.latitude) 
        longitude.append(loc.longitude) 
       
    # if coordinate for a city not 
    # found, insert "NaN" indicating  
    # missing value  
    else: 
        latitude.append(np.nan) 
        longitude.append(np.nan) 
        
        
df['Latitude'] = latitude
df['Longitude'] = longitude
df.to_csv(r'../malnutrition/malnutrition.csv')